/* Reset styles */
@import url(reset.css);

.container {
    max-width: 1470px;
    padding: 15px;
    margin: 0 auto;
}

div span {
    text-align: center;
}



.border p {
    max-width: 500px;
    margin: 15px auto 15px;
    padding: 5px;
}


.solid {
    border: 2px solid rgb(18, 40, 235);
    box-shadow: 5px 3px 10px 5px #454545;
}

.dotted {
    border: 4px dotted rgb(22, 172, 84);
    box-shadow: inset -3px -2px 5px 5px;
}

.dashed {
    border: 3px dashed rgb(192, 14, 14);
    border-radius: 10px 15px 20px 20px;
    opacity: 0.4;
}

.image {
    max-width: 1270px;
    margin: 10px auto;
}

.border-img {
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(69, 12, 175);
    box-shadow: 2px 3px 2px 3px;
}

.inline-border {
    border: 3px dashed rgb(192, 14, 14);
}

.border-radius-block {
    max-width: 500px;
    margin: 10px auto;
    height: 500px;
    border-radius: 51% 49% 21% 79% / 33% 46% 54% 67%;
    background-color: aqua;
    overflow: hidden;
}

.border-radius-block p {
    padding: 80px;

}

.inline-brdr {
    background-color: brown;
    border-radius: 15px;
    box-shadow: 2px 3px 2px 3px rgb(41, 15, 133);


}

.border-radius-img {
    display: block;
    max-width: 605px;
    height: 605px;
    margin: 10px auto;
    border-radius: 50%;
}


.outline-block {
    margin: 15px;
    outline: 2px solid greenyellow;
}

.inline-outline {
    outline: 3px dotted red
}

.block {
    margin-bottom: 30px;
}

.visibility {
    max-width: 500px;
    margin: 0 auto;
}

.visibility p {
    text-align: center;
}

.outline-img {
    visibility: hidden;
    outline: 2px dashed blue;
}

.nav-page-button {
    max-width: 816px;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #c4c4c4;
    box-shadow: 0 5px 0 0 #000;
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.button:hover {
    top: 3px;
    box-shadow: 0 2px 0 0 #000;
}