/* Reset styles */
@import url(reset.css);
/* Fonts connection */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body {
    /* background-color: #E5E5E5; */
    font-family: "Poppins", sans-serif;
    color: #6C757D;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.79;
}

.container-first {
    background-color: #E5E5E5;
    max-width: 1270px;
    margin: 0 auto;
    padding: 15px 15px 60px;
}

[class*="section-first"] {
    max-width: 816px;
    margin: 0 auto 80px;
}


.title {
    max-width: 605px;
    color: #212529;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 40px;
}

.text {
    margin-bottom: 30px;
}

.image,
.images {
    max-width: 100%;
    margin: 0 auto 80px;
    font-size: 0;
}

.image {
    border-radius: 5px;
}

.image-1 {
    max-width: 50%;
    padding-right: 15px;
    border-radius: 5px;
}

.image-2 {
    max-width: 50%;
    padding-left: 15px;
    border-radius: 5px;

}

.last-section-first {
    max-width: 816px;
    margin: 0 auto;
}

[class*="last-section"] .last-text {
    margin-bottom: 40px;
}

.nav-page-button {
    max-width: 816px;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #c4c4c4;
    box-shadow: 0 5px 0 0 #000;
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.button:hover {
    top: 3px;
    box-shadow: 0 2px 0 0 #000;
}

/*Second page styles*/
.article {
    background-color: #E5E5E5;
}

.main-image {
    margin-bottom: 100px;
}

.container-second {
    background-color: #E5E5E5;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0px 15px 29px;
}

[class*="section-second"] {
    max-width: 816px;
    margin: 0 auto 100px;
}


[class*="section-second"] .text-block {
    margin-bottom: 100px;

}

.title-second {
    max-width: 605px;
    color: #212529;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
}

.image-second {
    width: 100%;
    margin: 0 auto;
}

.images-second {
    max-width: 1240px;
    margin: 0 auto 30px;
    font-size: 0;

}

.slider {
    max-width: 54px;
    margin: 0 auto 64px;
    font-size: 0;
}

.circle-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
}

.circle-fill {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #212529;
    border-radius: 50%;
    margin: 0 10px;
}

.last-circle {
    margin-left: 10px;
}

.last-section-second {
    margin-bottom: 29px;
}