@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body {
    font-family: "Poppins", sans-serif;
    background-color: #E5E5E5;

}

main {
    padding: 15px 0px 60px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fafafa;

}

.section-1,
.section-2,
.section-3 {
    max-width: 816px;
    margin: 0 auto;

}

.section-1,
.section-2 {
    margin-bottom: 80px;
}

.section-1 h2 {
    max-width: 400px;
}

.section-2 h2 {
    max-width: 605px;
}

h2 {
    font-weight: 700;
    color: #212529;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.text {
    margin-bottom: 40px;
}

p {
    font-weight: 300;
    color: #6C757D;
    font-size: 14px;
    line-height: 1.79;

}

.desert-image {
    max-width: 1240px;
    margin: 0 auto 80px;
}

img {
    max-width: 100%;
}

.images {
    max-width: 1240px;
    margin: 0 auto 80px;
    font-size: 0px;
}

.image-1 {
    max-width: 50%;
    padding-right: 15px;
}

.image-2 {
    max-width: 50%;
    padding-left: 15px;
}